<template>

 <div id="app">
    <div class="container-fluid">
       <div class="row">
        <div class="col-md-3 vue-bg d-flex justify-content-center align-items-center">
          <img alt="Vue logo" src="../assets/logo.png" width="100">
        </div>
        <div class="col-md-9 d-flex justify-content-center align-items-center">
          <div class="col-md-8 rounded px-5 py-4 shadow bg-white">
            <form id="signup-form" @submit="checkForm" action="https://vuejs.org/"  method="post">
        <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
            <li v-for="item in errors" v-bind:key="item">{{item}}</li>
            </ul>
        </p>
        <div class="row">
            <div class="col-12 form-group">
                <label class="col-form-label col-form-label-lg">Full Name <span class="text-danger">*</span></label>
               <input id="name" class="form-control form-control-lg" v-model="name" type="text" name="name">
            </div>
            <div class="col-12 form-group">
                <label class="col-form-label col-form-label-lg">Email <span class="text-danger">*</span></label>
                <input id="email" class="form-control form-control-lg" v-model="email" type="text" name="name">
            </div>
            <div class="col-12 form-group">
                <label class="col-form-label col-form-label-lg">Country<span class="text-danger">*</span></label>
                <select class="form-control form-control-lg" v-model="country">
                    <option value="">Choose Country</option>
                    <option>India</option>
                    <option>Unites States</option>
                    <option>Australia</option>
                    </select>
            </div>
            <!-- <div class="col-12 form-group">
                <label class="col-form-label col-form-label-lg">Password <span class="text-danger">*</span></label>
                <input type="text" class="form-control form-control-lg">
            </div> -->
            <div class="col-12 form-group text-center">
                <button class="btn btn-vue btn-lg col-4">Sign Up</button>
            </div>
        </div>
    </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>
// import { required, email, minLength, maxLength } from 'vuelidate/lib/validators'
import router from '@/router'
export default {
  name: 'SignupForm',
  data () {
    return {
      errors: [],
      name: '',
      email: '',
      country: '',
      testFlag: false
    }
  },
  methods: {
    checkForm: function (e) {
      if (this.name !== '' && this.age !== '') {
        router.push({ path: 'Home' })
        return true
      }
      this.errors = []
      if (!this.name) {
        this.errors.push('Name required.')
      }
      if (!this.email) {
        this.errors.push('Email required.')
      } else if (!this.validEmail(this.email)) {
        this.errors.push('Valid email required.')
      }
      e.preventDefault()
    },
    validEmail: function (email) {
      var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    }
  }
}
</script>
<style>
.btn-vue{
    background: #53B985;
    color: #31485D;
    font-weight: bold;
    margin-top: 5px;
}
.lbl-txt{

  margin-right: 407px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

}
.vue-bg {
 background: #bce5d0;
  height: 590px;
  margin-top: 5px;
}
</style>
