<template>
  <header class="top-bar spread" v-if="!testFlag">
        <nav class="top-bar-nav">
          <router-link to="/" class="top-bar-link">
            <i class="icofont-spoon-and-fork"></i>
            <span>Home</span>
          </router-link>
          <router-link to="/products" class="top-bar-link">
            <span>Products</span>
          </router-link>
          <router-link to="/PostOrder" class="top-bar-link">
            <span>Past Orders</span>
          </router-link>
          </nav>
        <div @click="ShowSidebar=!ShowSidebar" class="top-bar-cart-link">
          <i class="icofont-cart-alt icofont-1x"></i>
          <span>Cart ({totalQuantity})</span>

        </div>

      </header>
  <!-- <div id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3 vue-bg d-flex justify-content-center align-items-center">
          <img alt="Vue logo" src="./assets/logo.png" width="100">
        </div>
        <div class="col-md-9 d-flex justify-content-center align-items-center">
          <div class="col-md-8 rounded px-5 py-4 shadow bg-white">
            <SignupForm />
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <sidebar v-if="ShowSidebar"
  :toggle="toggleSidebar"
  :cart="cart"
  :inventory="inventory"/>
  <router-view :inventory="inventory"/>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.vue-bg {
 background: #bce5d0;
  height: 590px;
  margin-top: 5px;
}
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
} */
</style>
<script>
import Sidebar from './components/Sidebar.vue'
import food from '@/views/food.json'
// import SignupForm from '../src//components/SignupForm.vue'
export default {
  name: 'App',
  data () {
    return {
      ShowSidebar: false,
      inventory: food,
      cart: {}
    }
  },
  computed: {
    totalQuantity () {
      return Object.values(this.cart).reduce((acc, curr) => {
        return acc + curr
      }, 0)
    }
  },
  components: {
    Sidebar
  },
  methods: {
    toggleSidebar () {
      this.ShowSidebar = !this.ShowSidebar
      return this.ShowSidebar
    },
    addToCart () {

    },
    removiItem () {}

  }
}
</script>
